*{
    transition: all 250ms;
}
.container__circle {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: min-content;
}
.circle {
    width: 10vh;
    height: 10vh;
    border-radius: 100px;
    background-color: grey;
    margin: 3vh;
}
.container__button {
    display: flex;
    margin-top: 2vh;
}
.btn_green {

}
.btn_red {
}

.btn{
    width: 8vh;
    height: 3vh;
    font-size: 2vh;
}